.video{
    position:absolute;
    left:0;
    top:55%;
    width:100%;
    height:auto;
    
    
    overflow:hidden;
  }
  .video video{
    
    width:calc(100% + 1px);
    height:auto;
    
    
  }